<!DOCTYPE html>
<html>
  <head>
    <title>LunchTime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('apple-touch-icon.png'), rel: "apple-touch-icon", sizes: "180x180" %>
    <%= favicon_link_tag asset_path('favicon-32x32.png'), rel: "icon", type: "image/png", sizes: "32x32" %>
    <%= favicon_link_tag asset_path('favicon-16x16.png'), rel: "icon", type: "image/png", sizes: "16x16" %>
  </head>

  <body class="bg-gray-200">
    <% if logged_in? %>
      <%= render 'layouts/nav' %>
    <% end %>
    <main class="px-6 py-4 max-w-5xl m-auto">
      <%= yield %>
    </main>
  </body>
</html>
